@import "styles/utils";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  z-index: 1;

  @include media("<tablet") {
    &.open {
      position: fixed;
      background: #000000;
      height: 100%;

      .menu {
        opacity: 1;
      }
    }
  }

  @include media(">tablet") {
    padding-top: 64px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logoWrapper {
    z-index: 1;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    color: #FFFFFF;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    grid-gap: 24px;
    opacity: 0;

    @include media(">tablet") {
      position: relative;
      flex-direction: row;
      align-items: center;
      width: initial;
      text-transform: initial;
      opacity: 1;
    }

    a {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 25px;

      @include media(">tablet") {
        font-family: "Alata", sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
      }
    }
  }

  .menuButton {
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;

    @include media(">tablet") {
      display: none;
    }
  }
}
