@import "styles/utils";

.creationCard {
  position: relative;

  @include media(">tablet") {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%);
    }
  }

  .image {
    width: 100%;
    height: 120px;

    @include media(">tablet") {
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 20px;
    padding-bottom: 20px;
    white-space: pre;

    @include media(">tablet") {
      font-size: 32px;
      line-height: 32px;
    }
  }
}
